body{
  margin: 10%;
  background-color: gray;
}
.select-bar{
  padding: 3ex;
  float: left;
  box-sizing: border-box;
  background-color: #ffc107;
  border-radius: 5%;
}

.logo{
  text-align: center;
  background-color: #fff;
  padding: 3%;
}

#campus{
background-color:black;
color: white;
font-size: 20px;
padding: 1ex;
border-radius:5px; 
cursor: pointer;
}

#proms{
  background-color:black;
  color: white;
  font-size: 20px;
  padding: 1ex;
  border-radius:5px; 
  cursor: pointer;
}

.table{
  overflow-y: hidden;
}

#order-by {
  background-color: aqua;
  padding: 1ex;
  border-radius: 7%;
  cursor: pointer;
}

#order-direction {
  background-color: aqua;
  padding: 1ex;
  border-radius: 7%;
  cursor: pointer;
}

#search-box {
  background-color: aqua;
  padding: 1ex;
  border-radius: 7%;
  cursor: pointer;
}